<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f0f0f0; margin: 0; padding: 0; text-align: center;">

  <div class="thank-you" style="margin: 50px; padding: 20px; background-color: #fff; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="font-size: 24px; color: #1f497d;">Thank You for Your Submission!</h1>
    <p style="font-size: 18px;">Your form has been successfully submitted.</p>
    <a href="/Players" class="go-back-button" style="background-color: #1f497d; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; font-size: 16px; margin-top: 20px;">
        <button method = "GET"  type ="submit" action = "/Players" class="go-back-button" style="background-color: #1f497d; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; margin-top: 20px;">See other Players</button>
    </a>

    
  </div>
</body>
</html>
